.app-tabs {
    width: 100px;
}

.app-tab {
    margin: 2px 0;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: clip;
}

.vertical-line {
    width: 2px;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #4b4b4b;
}

.app-tab:hover {
    background-color: #393939;
    transition-duration: 0.3s;
    transition-property: background-color;
}
