.app-tabs {
    width: 100px;
}
.app-tabs-scroll-view {
}
.app-tabs-box {
    margin: 2px;
}

.app-tab {
    margin: 4px 0;
    padding-left: 10px;
    padding-right: 4px;
}
.app-tab-icon {
    margin-right: 8px;
}

.vertical-line {
    width: 2px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #4b4b4b;
}

.app-tab:hover {
    background-color: #393939;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.app-tab-label {
    max-width: 86px;
    margin-right: 4px;
}
.app-tab-close-button {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 16px;
    width: 10px;
}

.app-tab-close-button:hover {
    background-color: #2d2d2d;
    transition-duration: 0.3s;
    transition-property: background-color;
}
