.app-tabs {
    width: 100px;
}

.app-tabs-box {
    margin: 2px;
}

.app-tab {
    margin: 4px 0;
    padding-left: 20px;
    padding-right: 4px;
}

.vertical-line {
    width: 2px;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #4b4b4b;
}

.app-tab:hover {
    background-color: #393939;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.app-tab-label {
    max-width: 86px;
    margin-right: 8px;
}
.app-tab-close-button {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 16px;
}

.app-tab-close-button:hover {
    background-color: #3b3b3b;
    transition-duration: 0.3s;
    transition-property: background-color;
}
